.page-content
    padding 20px

.mdl-card
    width 400px
    height @width

.mdl-card__media
    height 300px
    width 100%

.add-button
    position absolute
    right 20px
    bottom @right
    z-index 1000

dialog
    width 90% !important
    max-width 600px
